<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <p>Data source: {{ data_source }}</p>
    <p>Technical error: {{ error }}</p>
</body>
</html>
