<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
        <style type="text/css">
table { border: solid thin; border-collapse: collapse }
th, td { border: solid thin; padding: 0.5rem 1rem }
th { text-align: center }
td { text-align: right }
.location, .risk { text-align: left }
    </style>
</head>
<body>
<h1>COVID-19 Population Indicator Analysis Assessment</h1>
<p><a href="https://gitlab.com/nunoachenriques/covid-19-pira">https://gitlab.com/nunoachenriques/covid-19-pira</a></p>
<p>NOTICE: This is a personal exercise and NOT endorsed by any health organisation.
    <br />Everyone should TRUST and FOLLOW the GUIDELINES from local HEALTH AUTHORITIES
    <br />and from the <a href="https://www.who.int/"> World Health Organisation (WHO)</a>.</p>
<p>Data source: <a href="{{ data_source }}">{{ data_source }}</a> | {{ message }}</p>
<p>Guide: NaN = UNKNOWN risk due to unreported values.</p>
<table>
    <thead>
    <tr>
        <th rowspan="2" class="position">#</th>
        <th rowspan="2" class="location">Location</th>
        <th colspan="4">Cases</th>
        <th rowspan="2">Tests</th>
        <th rowspan="2">Population</th>
        <th colspan="2"><a href="https://gitlab.com/nunoachenriques/covid-19-pira">PIRA {{ version }}</a></th>
    </tr>
    <tr>
        <th>Total</th>
        <th>Active</th>
        <th>Deaths</th>
        <th>Recovered</th>
        <th>Risk</th>
        <th>Rank</th>
    </tr>
    </thead>
    <tbody>
    {% set count = namespace(value=0) %}
    {% for location, r in data.iterrows() %}
    {% set count.value = count.value + 1 %}
    <tr>
        <td class="position">{{ count.value }}</td>
        <td class="location">{{ location }}</td>
        <td class="total">{{ r["cases"]|round|int }}</td>
        <td class="active">{{ r["active"]|round|int }}</td>
        <td class="deaths">{{ r["deaths"]|round|int }}</td>
        <td class="recovered">{{ r["recovered"]|round|int }}</td>
        <td class="tests">{{ r["tests"]|round|int }}</td>
        <td class="population">{{ r["population"]|round|int }}</td>
        <td class="risk">{{ r["risk"]|round(2) if 0.0 <= r["risk"] <= 1.0 else "NaN" }}</td>
        <td class="rank">{{ r["rank"]|round|int if 0.0 <= r["risk"] <= 1.0 else "NaN" }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
